// 颜色
// 主色调
$main-color: #ff5200;

// 灰色
$super-light-gray: #f9f9f9;
$very-light-gray: #e7e7e7;
$light-gray: #d9d9d9;
$gray: #cccccc;
$dark-gray: #ababab;
$very-dark-gray: #999999;
$super-dark-gray: #666666;

// 字体
$main-font-color: #333;


// 尺寸

// header
$header-height: 56px;
$header-router-item-active-border-height: 3px;

// 间距
$common-gap: 20px;
$slim-gap: 10px;
$large-gap: 30px;
